<!DOCTYPE html>
<html ng-app="statesApp">
<head lang="en">
  <meta charset="UTF-8">
  <title>Intro to Angular Final Exercise</title>
  <script src="/common/js/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="/common/css/bootstrap/bootstrap.css"/>
  <style>
    .highlight {
      background-color : #5bc0de;
    }

    th[ng-click] {
      cursor: pointer
    }
  </style>
</head>
<body>

<div ng-controller="StateCtrl">

  <!-- Build the table as follows:
       Start by just creating rows of state information, probably using
       ng-repeat to go over $scope.states
       Then add a set of table headers, such that when you click on a header
       the table re-sorts the records according to the column you clicked on
       Finally, add another row after the headers, but before the content
       Each column should have a text field
       If content is entered into the field, it acts as a filter for that
       column/property of the state

       Challenges:
       If there is a filter on a given column, apply the class "highlight"
       to the column

       Right now, clicking on the same column twice does not reverse the sort
       (as you might expect). Implement this capability. This may be the only
       part of the code that is easier to implement in a function rather than
       here in the view.
  -->
  <table class="table">
    <thead>

    <tr>
      <th ng-click="orderBy('name')">Name</th>
      <th ng-click="orderBy('abbreviation')">Abbreviation</th>
      <th ng-click="orderBy('capital')">Capital</th>
      <th ng-click="orderBy('mostPopulousCity')">Most Populous City</th>
      <th ng-click="orderBy('population')">Population</th>
      <th ng-click="orderBy('squareMiles')">Square Miles</th>
      <th ng-click="orderBy('timeZone1')">Time Zone 1</th>
      <th ng-click="orderBy('timeZone2')">Time Zone 2</th>
      <th ng-click="orderBy('state')">DST</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th><input type="text" ng-model="filterState.name" placeholder="Filter Names"></th>
      <th><input type="text" ng-model="filterState.abbreviation" placeholder="Filter Abbreviations"></th>
      <th><input type="text" ng-model="filterState.capital" placeholder="Filter Capitals"></th>
      <th><input type="text" ng-model="filterState.mostPopulousCity" placeholder="Filter Most Populous Cities"></th>
      <th><input type="text" ng-model="filterState.population" placeholder="Filter Populations"></th>
      <th><input type="text" ng-model="filterState.squareMiles" placeholder="Filter Square Miles"></th>
      <th><input type="text" ng-model="filterState.timeZone1" placeholder="Filter Time Zone 1"></th>
      <th><input type="text" ng-model="filterState.timeZone2" placeholder="Filter Time Zone 2"></th>
      <th><input type="text" ng-model="filterState.dst" placeholder="Filter DST"></th>
    </tr>
    <tr ng-repeat="state in states | filter:filterState | orderBy:orderField">
      <td>{{ state.name }}</td>
      <td>{{ state.abbreviation }}</td>
      <td>{{ state.capital }}</td>
      <td>{{ state.mostPopulousCity }}</td>
      <td>{{ state.population }}</td>
      <td>{{ state.squareMiles }}</td>
      <td>{{ state.timeZone1 }}</td>
      <td>{{ state.timeZone2 }}</td>
      <td>{{ state.dst }}</td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>